<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10" v-if="! submitted">
                <div class="card">
                    <template>
                        <div class="form-group row">
                            <label for="workshop_date" class="col-sm-3 col-form-label">Please, choose workshop date</label>
                            <div class="col-sm-9">
                                <select id="workshop_date" v-model="workshop" class="form-control">
                                    <option :value="null">Select date</option>
                                    <option v-for="workshop in workshops" :disabled="! workshop.is_available" :value="workshop" v-text="workshop.day"></option>
                                </select>
                            </div>
                        </div>

                        <div class="card-header text-center" v-if="workshop !== null">Please, fill out the form</div>

                        <div class="card-body" v-if="workshop !== null">
                            <div class="form-group row">
                                <label for="customer" class="col-sm-3 col-form-label">Customer Name</label>
                                <div class="col-sm-9">
                                    <multiselect v-model="customer" id="ajax" :custom-label="customLabel" track-by="first_name" placeholder="Type to search" open-direction="bottom" :options="customers" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="true" :options-limit="100" :limit="3" :limit-text="limitText" :max-height="600" :show-no-results="true" :hide-selected="true" @search-change="asyncFind">
                                        <template slot="singleLabel" slot-scope="props"><span>{{ props.option.first_name }} {{ props.option.last_name }}</span></template>
                                        <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
                                        <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                    </multiselect>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    <input type="text" v-model="phone" class="form-control" id="phone" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="workshop_time" class="col-sm-3 col-form-label">Workshop Time</label>
                                <div class="col-sm-9">
                                    <select id="workshop_time" v-model="workshop_time" class="form-control">
                                        <option :value="null">Select date</option>
                                        <option v-for="workshopTime in workshop.workshop_times" :disabled="! workshopTime.is_available" :value="workshopTime" v-text="workshopTime.time"></option>
                                    </select>
                                </div>
                            </div>

                            <hr />

                            <template  v-if="workshop_time !== null">
                                <template v-for="(guest, index) in guests">
                                    <span v-if="guests.length > 1" style="cursor: pointer" @click="removeGuest(index)">&times;</span>
                                    <div class="form-group row">
                                        <label for="guest_name" class="col-sm-3 col-form-label">Guest Name</label>
                                        <div class="col-sm-9">
                                            <multiselect v-model="guests[index].name" id="ajax" :custom-label="customLabel" track-by="first_name" placeholder="Type to search" open-direction="bottom" :options="customers" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="true" :options-limit="100" :limit="3" :limit-text="limitText" :max-height="600" :show-no-results="true" :hide-selected="true" @search-change="asyncFind">
                                                <template slot="singleLabel" slot-scope="props"><span>{{ props.option.first_name }} {{ props.option.last_name }}</span></template>
                                                <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
                                                <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" v-model="guests[index].email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <hr v-if="guests.length > 1 && index !== guests.length - 1" />
                                </template>
                                <div class="form-group row text-right">
                                    <button class="btn btn-primary" :disabled="! canAddGuests" @click="addGuest">Add guest</button>
                                </div>
                                <div class="form-group row text-right">
                                    <button class="btn btn-primary" @click="book">Book Workshop</button>
                                </div>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-md-10" v-else>Thank you</div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                workshops: [],
                workshop: null,
                workshop_time: null,
                isLoading: false,
                guests: [{
                    name: null,
                    email: null,
                    phone: null
                }],
                customers: [],
                customer: null,
                customerName: null,
                phone: null,
                submitted: false
            }
        },

        computed: {
            canAddGuests() {
                return this.workshop_time !== null && (this.guests.length < this.workshop_time.available_spots - 1);
            }
        },

        mounted() {
            axios.get('/api/workshops')
                .then(response => {
                    this.workshops = response.data.data
                })
        },

        methods: {
            addGuest() {
                if (this.canAddGuests)
                this.guests.push({
                    name: null,
                    email: null,
                    phone: null
                })
            },

            removeGuest(index) {
                this.guests.splice(index, 1);
            },

            book() {
                const customer = {
                    name: this.customerName,
                    phone: this.phone
                }

                let guests = [];

                this.guests.forEach((guest) => {
                   guests.push({
                       name: `${guest.name.first_name} ${guest.name.last_name}`,
                       email: guest.email
                   })
                });

                axios.post('/api/customers', {
                    customer,
                    guests,
                    workshop_time_id: this.workshop_time.id
                }).then(response => {
                    this.submitted = true;
                })
            },

            limitText (count) {
                return `and ${count} other countries`
            },
            asyncFind (query) {
                this.isLoading = true;
                axios.post('/api/customers/search', {customer: query})
                    .then(response => {
                        this.customers = response.data.customers;
                        this.isLoading = false;
                    })
            },
            clearAll () {
                this.customers = []
            },

            customLabel({first_name, last_name}) {
                return `${first_name} ${last_name}`;
            }
        },

        watch: {
            customer(newCustomer) {
                if(typeof newCustomer === 'object') {
                    console.debug('is object');
                    this.customerName = `${newCustomer.first_name} ${newCustomer.last_name}`;
                    this.phone = newCustomer.phone;
                }
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
